/* style.css */

body {
    min-height: 90vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 32px;
}

/* Header */

.header {
    display: flex;  
    justify-content: space-around;
    align-items: center;
}

.title {
    font-size:x-large;
    font-weight: bold;
    display: flex;  
    align-items: center;
}

.logo {
    width: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    font-size: medium;
}

a {
    text-decoration: none;
    color: white;
}

/* Body */

/* Main section */

.body {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.left .text {
    font-size: 50px;
    font-weight: bold;
}

.subtext {
    margin-bottom: 8px;
}

.left .signup {
    border: solid 1px rgb(255, 128, 0);
    border-radius: 4px;
    background-color: rgb(255, 128, 0);
    color: white;
    padding: 4px 16px;
}

.pic {
    width: 300px;
}

/* Info section */

.items {
    display: flex;
    justify-content: center;
}

.mid {
    padding: 32px;
}

.mid .title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 16px;
}

.items {
    display: flex;
    gap: 64px;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item .text {
    text-align: center;
    font-size: small;
    width: 100px;
}

.item .pic {
    width: 100px;
    border: solid 1px rgb(255, 128, 0);
    border-radius: 4px;
}

/* Quote section */

.lo {
    margin: 32px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.quote {
    font-size: x-large;
    font-style: italic;
}
.name {
    text-align: end;
    margin-right: 32px;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: auto;
    background-color: rgb(23, 23, 23);
    border-radius: 8px;
    padding: 16px;
    font-size: small;
    min-width: auto;
}

.maintext {
    font-weight: bold;
}

.footer .signup {
    border: solid 1px rgb(255, 255, 255);
    border-radius: 4px;
    background-color: rgb(23, 23, 23);
    color: white;
    width: 80px;
    height: auto;
}

