/* style.css */

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

/* header & links */

.header {
    padding: 16px;
    margin-left: 32px;
    margin-right: 32px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right {
    font-size: 24pt;
    display: flex;
    align-items: center
}

ul {
    font-size: 18pt;
    list-style-type: none;
    display: flex;
    gap: 16px;
    text-align: center;
}

.logo {
    width: 50px;
}

/* body, 1st section */

.hi {
    color: white;
    display: flex;
    align-items: center ;
    justify-content: space-around;
    padding-left: 60px
}

.hi .left .text {
    font-weight: bold;
    font-size: 36pt;   
}

.hi .left .subtext {
    margin-bottom: 8px;
    font-size: 20pt
}

.signup {
    font-size: 14pt;
    padding: 4px 16px;
    background-color: #ff6f00;
    border-radius: 4px;
    color: white;
    border: 1px solid #ff6f00;
}

.hi .pic {
    width: 300px
}

/* body, 2nd section */

.mid {
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
}

.mid .title {
    text-align: center;
    font-weight: bold;
    font-size: 32pt;
    padding: 24px
}

.mid .text {
    text-align: center;
}

.items {
    display: flex;
    justify-content: center;
    gap: 8px

}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    font-size: 14pt;
}

.item .pic {
    width: 110px;
    background-color: #000000;
    border: 2px solid #bf5300;
    border-radius: 4px;
    margin: 8px
}

/* body, 3rd section */

.lo {
    flex: auto;
    display: flex;
    flex-direction: column;
    margin: 64px;
    color: white;
    align-self: center;
    justify-content: center;
}

.quote {
    font-size: 22pt;
    font-style: italic;
}

.name {
    font-size: 14pt;
    font-weight: bold;
    align-self: flex-end;
}

/* footer */

.footer {
    flex: auto;
    margin: 64px;
    border: 16px;
    padding: 32px 64px;
    border-radius: 8px;
    background: #1b1b1b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12pt;
    gap: 8px;
    justify-self: flex-end;
}

.maintext {
    font-weight: bold;
}

.footer .signup {
    font-size: 12pt;
    background-color: #1f1f1f;
    border: 1px solid white;
    color: white;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
}